@import "codemirror.less";
@import "ambiance.less";

body {
  margin: 0;
  font-size: 17px;
  font-family: ubuntu mono;
}

.output {
  box-sizing: border-box;
  padding: 5px;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  color: #222;
  position: absolute;
  overflow: auto;
  p {
    line-height: 1em;
    margin: 0;
  }
}
