@import "codemirror.less";
@import "ambiance.less";

@import "splitview.less";

body {
  margin: 0;
  font-size: 17px;
  font-family: ubuntu mono;
  color: #fff;
  background-color: #333;
}

.CodeMirror {
  height: 400px;
}